body {
  margin: 0;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  font: var(--md-sys-typescale-body-large-font);
  letter-spacing: var(--md-sys-typescale-body-large-letter-spacing);
}

* {
  box-sizing: border-box;
}
